In [1]:
# ============================================================
# ğŸ“Œ Data Preparation Template - Ù…Ù„Ù Ù…Ø­Ù„ÙŠ
# ============================================================

import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

# 1ï¸âƒ£ --- Ø¶Ø¹ Ù‡Ù†Ø§ Ø§Ø³Ù… Ø§Ù„Ù…Ù„Ù Ø£Ùˆ Ù…Ø³Ø§Ø±Ù‡ ÙÙŠ Ø¬Ù‡Ø§Ø²Ùƒ ---
# Ø¥Ø°Ø§ Ø§Ù„Ù…Ù„Ù ÙÙŠ Ù†ÙØ³ Ù…Ø¬Ù„Ø¯ Jupyter Notebook
file_path = "titanic_clean.csv"  # <-- ØºÙŠÙ‘Ø± Ø§Ù„Ø§Ø³Ù… Ø­Ø³Ø¨ Ù…Ù„ÙÙƒ

# Ø¥Ø°Ø§ Ø§Ù„Ù…Ù„Ù ÙÙŠ Ù…Ø¬Ù„Ø¯ Ø¢Ø®Ø±ØŒ Ø§Ø³ØªØ®Ø¯Ù… Ø§Ù„Ù…Ø³Ø§Ø± Ø§Ù„ÙƒØ§Ù…Ù„:
# file_path = "C:/Users/Ø§Ø³Ù…_Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…/Documents/data.csv"

# 2ï¸âƒ£ --- Ø§Ø³ØªÙŠØ±Ø§Ø¯ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ---
df = pd.read_csv(file_path)
print("âœ… ØªÙ… ØªØ­Ù…ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ù†Ø¬Ø§Ø­!")

print("\nğŸ”¹ Ø£ÙˆÙ„ 5 ØµÙÙˆÙ Ù…Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª:")
display(df.head())

# 3ï¸âƒ£ --- Ø§Ø³ØªÙƒØ´Ø§Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ---
print("\nğŸ”¹ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø¹Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª:")
display(df.info())

print("\nğŸ”¹ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø© ÙÙŠ ÙƒÙ„ Ø¹Ù…ÙˆØ¯:")
display(df.isnull().sum())

# 4ï¸âƒ£ --- ØªÙ†Ø¸ÙŠÙ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ---
df = df.drop_duplicates()

for col in df.columns:
    if df[col].dtype == "object":  # Ø¥Ø°Ø§ Ø§Ù„Ø¹Ù…ÙˆØ¯ Ù†ØµÙŠ
        df[col] = df[col].fillna(df[col].mode()[0])
    else:  # Ø¥Ø°Ø§ Ø§Ù„Ø¹Ù…ÙˆØ¯ Ø±Ù‚Ù…ÙŠ
        df[col] = df[col].fillna(df[col].median())

# 5ï¸âƒ£ --- ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ---
label_encoders = {}
for col in df.select_dtypes(include=["object"]).columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

scaler = StandardScaler()
df[df.select_dtypes(include=['float64', 'int64']).columns] = scaler.fit_transform(
    df.select_dtypes(include=['float64', 'int64'])
)

print("\nâœ… Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø¹Ø¯ Ø§Ù„ØªÙ†Ø¸ÙŠÙ ÙˆØ§Ù„ØªØ­ÙˆÙŠÙ„:")
display(df.head())

# 6ï¸âƒ£ --- ØªÙ‚Ø³ÙŠÙ… Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ù„Ù„ØªØ¯Ø±ÙŠØ¨ ÙˆØ§Ù„Ø§Ø®ØªØ¨Ø§Ø± ---
X = df.iloc[:, :-1]  # ÙƒÙ„ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ù…Ø§ Ø¹Ø¯Ø§ Ø§Ù„Ø£Ø®ÙŠØ± ÙƒÙ…ÙŠØ²Ø§Øª
y = df.iloc[:, -1]   # Ø§Ù„Ø¹Ù…ÙˆØ¯ Ø§Ù„Ø£Ø®ÙŠØ± ÙƒÙ€ target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"\nâœ… Ø­Ø¬Ù… Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ØªØ¯Ø±ÙŠØ¨: {X_train.shape}")
print(f"âœ… Ø­Ø¬Ù… Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø§Ø®ØªØ¨Ø§Ø±: {X_test.shape}")

âœ… ØªÙ… ØªØ­Ù…ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ù†Ø¬Ø§Ø­!

ğŸ”¹ Ø£ÙˆÙ„ 5 ØµÙÙˆÙ Ù…Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª:

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,has_cabin_number
0,1,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,2,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,3,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
3,4,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",1
4,5,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1

ğŸ”¹ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø¹Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1310 non-null   int64
 1   pclass            1309 non-null   float64
 2   survived          1309 non-null   float64
 3   name              1309 non-null   object
 4   sex               1309 non-null   object
 5   age               1310 non-null   float64
 6   sibsp             1309 non-null   float64
 7   parch             1309 non-null   float64
 8   ticket            1309 non-null   object
 9   fare              1308 non-null   float64
 10  cabin             295 non-null    object
 11  embarked          1310 non-null   object
 12  boat              486 non-null    object
 13  body              121 non-null    float64
 14  home.dest         745 non-null    object
 15  has_cabin_number  1310 non-null   int64
dtypes: float64(7), int64(2), object(7)
memory usage: 163.9+ KB

None

ğŸ”¹ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø© ÙÙŠ ÙƒÙ„ Ø¹Ù…ÙˆØ¯:

Unnamed: 0             0
pclass                 1
survived               1
name                   1
sex                    1
age                    0
sibsp                  1
parch                  1
ticket                 1
fare                   2
cabin               1015
embarked               0
boat                 824
body                1189
home.dest            565
has_cabin_number       0
dtype: int64

âœ… Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø¹Ø¯ Ø§Ù„ØªÙ†Ø¸ÙŠÙ ÙˆØ§Ù„ØªØ­ÙˆÙŠÙ„:

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,has_cabin_number
0,-1.730729,-1.546913,1.272792,-1.673989,-1.345793,-0.068446,-0.478862,-0.444796,-0.995946,3.444003,-1.582531,0.62195,0.625775,-0.018120,1.186917,1.854906
1,-1.728085,-1.546913,1.272792,-1.668687,0.743056,-2.249951,0.481795,1.867437,-1.492361,2.287674,-0.185605,0.62195,-0.823427,-0.018120,0.209403,1.854906
2,-1.725440,-1.546913,-0.785674,-1.666036,-1.345793,-2.165801,0.481795,1.867437,-1.492361,2.287674,-0.185605,0.62195,-0.501382,-0.018120,0.209403,1.854906
3,-1.722796,-1.546913,-0.785674,-1.663384,0.743056,0.009233,0.481795,1.867437,-1.492361,2.287674,-0.185605,0.62195,-0.501382,-0.693413,0.209403,1.854906
4,-1.720152,-1.546913,-0.785674,-1.660733,-1.345793,-0.379166,0.481795,1.867437,-1.492361,2.287674,-0.185605,0.62195,-0.501382,-0.018120,0.209403,1.854906

âœ… Ø­Ø¬Ù… Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ØªØ¯Ø±ÙŠØ¨: (1048, 15)
âœ… Ø­Ø¬Ù… Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø§Ø®ØªØ¨Ø§Ø±: (262, 15)